:root {
    --baby-blue: #D4F1F4;
    --blue-green: #75E6DA;
    --blue-grotto: #189AB4;
    --blue-navy: #05445E;
}

body {
    background-color: var(--blue-navy);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

p {
    color: var(--blue-green);
    font-size: 120%;
}

.course {
    text-decoration: underline;
}

.coding-lenguages {
    color: var(--blue-navy);
}

.header-box {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--blue-green);
    border-radius: 20px;
}

.column-1 {
    width: 70%;
}

.column-2 {
    width: 30%;
    margin: 15px 0px;
}
/* HEADER */
.header-name {
    margin: 15px;
    font-size: 200%;
    color: var(--blue-grotto);
}

.header-degree {
    margin: 0px 15px;
    font-size: 150%;
    color: var(--baby-blue);
}

/* NAVBAR */
nav {
    margin: 16px 40px;
    font-size: 130%;
    border-radius: 15px;
    color: var(--blue-green);
    font-weight: bold;
}


nav ul, footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px ;
    list-style-type: none;
}
nav ul li, footer ul li {
    margin: 5px 15px;
}

.navbar-element {
    text-decoration: none;
    color: var(--blue-green);
}

.navbar-element:hover {
    color: var(--baby-blue);
}

/* ABOUT ME */

#about-me {
    margin: 16px 40px;
    background-color: var(--blue-green);
    border-radius: 15px;
    padding-bottom: 5px;
}

#about-me h3 {
    font-size: 120%;
    color: var(--blue-grotto);
    padding-top: 5px;
    margin: 5px 15px;
}

.profile-picture {
    width: 150px;
    height: 180px;
    border-radius: 15px;
}

/* PROJECTS */

#about-me p {
    margin: 5px 15px 15px 15px;
    color: var(--baby-blue);
}

#projects {
    background-color: var(--blue-green);
    margin: 16px 40px;
    border-radius: 15px;
}

#projects .figures {
    display: flex;
    flex-wrap: wrap;
    
}

#projects h3 {
    font-size: 130%;
    color: var(--blue-grotto);
    margin: 0px 15px 15px;
    padding-top: 15px;
}

.project-box {
    margin: auto;
}

.project-image {
    border-radius: 15px;
    
    
}

.project-image:hover{
    opacity: .8;
}

.project-title {
    position: relative;
    margin: 0 auto;
    /* left: 140px; */
    bottom: 70px;
    color: var(--blue-grotto);
}

/* FOOTER */

footer{
    margin: 16px 40px;
    color: var(--blue-green);

}

footer ul{
    font-size: 130%;
    justify-content: space-between;
    font-weight: bold;
}
footer ul li a{
    text-decoration: none;
    color: var(--blue-green);
}
footer ul li a:hover{
    color: var(--baby-blue);
}

@media screen and ( max-width: 980px){
    img{
        max-width: 100%;
        max-height: 100%;
    }

    .project-title{
        left: 0;
        margin: 0 auto;
    }
    nav, footer {
        max-width: 100%;
    }
    
    .navbar-element, footer ul li {
        font-size: 2vw;
    }
}